body { background: #816028; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 47px; display: flex; }
.block-filter-0 { color: #407146; font-size: 14px; margin-bottom: 5px; }
.block-shipping-1 { color: #565abe; font-size: 21px; margin-bottom: 5px; }
.block-shipping-2 { color: #5a4405; font-size: 13px; margin-bottom: 5px; }
.block-filter-3 { color: #72b62f; font-size: 19px; margin-bottom: 5px; }
.block-token-4 { color: #2d459d; font-size: 13px; margin-bottom: 5px; }